<nb-card>
  <nb-card-header>
    <h5>Регистрация</h5>
  </nb-card-header>

  <nb-card-body
    class="card__body"
    [formGroup]="form"
  >
    <input
      formControlName="username"
      fullWidth
      nbInput
      placeholder="Username"
    />

    <input
      formControlName="email"
      fullWidth
      nbInput
      placeholder="Email"
    />

    <input
      formControlName="password"
      fullWidth
      nbInput
      placeholder="Password"
    />
  </nb-card-body>

  <nb-card-footer>
    <button
      fullWidth
      nbButton
      status="primary"
      (click)="handleSubmit()"
    >
      Submit
    </button>
  </nb-card-footer>
</nb-card>
