@if (isLoading()) {
  <div
    class="app__spinner-wrap"
    nbSpinnerSize="medium"
    [nbSpinner]="isLoading()"
  ></div>
}

<nb-layout>
  <nb-layout-header fixed>
    <div class="app__header">
      <span
        class="app__logo"
        [routerLink]="['/']"
      >
        🧢 CapBet
      </span>

      <nb-user
        class="app__user"
        name="seriyvolk"
        size="medium"
      />
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet />
  </nb-layout-column>
</nb-layout>
